.quickFilter {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quickFilterBar {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: whitesmoke; */
  width: 75vw;
  /* border: 1px solid black; */
  text-align: center;
}

.quickFilterItem {
  display: inline-block;
  background-color: burlywood;
  margin: 5px 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(158, 159, 165, 0.8);
}

.quickFilterItem:hover {
  padding: 2px;
  transition: 0.2s;
  transition-timing-function: ease;
}

.quickFilterItem > a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 5px 15px;
  text-decoration: none;
}

.explore {
  width: 80vw;
  height: auto;
  margin: auto;
}

.contentBlock {
  height: auto;
  position: relative;
  margin: 10px 8px !important;
  z-index: 1;
}

.contentImg {
  width: 100%;
  border-radius: 20px;
}

.username {
  position: absolute;
  top: 15px;
  left: 25px;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  max-width: 100px;
}

.heartImg {
  width: 50px;
  height: 50px;
  filter: invert(1);
}

.overlayHover {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  height: 100% !important ;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.contentBlock:hover .overlayHover {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  height: 100% !important ;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}