.header {
  background-color: rgba(164, 144, 124, 0.5);
  width: 100vw;
  height: 70px;
  display: flex;
  position: sticky;
}

.appLogo {
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 20px;
  cursor: pointer;
}

.appName {
  height: 50px;
  width: auto;
  max-width: 180px;
  position: absolute;
  top: 10px;
  left: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  cursor: pointer;
}

.appName > p {
  margin: 0;
  font-size: 1rem;
}

span {
  font-size: 1.6rem;
  font-family: "Kristi";
}

.registerBtn {
  border: none;
  height: 30px;
  width: 100px;
  position: absolute;
  right: 140px;
  top: 20px;
  border-radius: 30px;
  background-color: rgba(141, 123, 104, 0.7);
  color: whitesmoke;
  box-shadow: 0px 0px 10px rgba(141, 123, 104, 1);
}

.registerBtn:hover {
  background-color: rgba(141, 123, 104, 1);
}

.loginBtn {
  border: none;
  height: 30px;
  width: 100px;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 30px;
  background-color: rgba(141, 123, 104, 0.7);
  color: whitesmoke;
  box-shadow: 0px 0px 10px rgba(141, 123, 104, 1);
}

.loginBtn:hover {
  background-color: rgba(141, 123, 104, 1);
}

.searchBar {
  position: absolute;
  height: 35px;
  width: 50vw;
  left: 260px;
  top: 15px;
  border-radius: 20px;
  border: none;
  outline-color: rgba(164, 144, 124, 0.5);
  background-color: rgba(141, 123, 104, 0.7);
  color: whitesmoke;
  outline: rgba(255, 250, 240, 0.6);
}

.searchBar::placeholder {
  color: rgba(255, 250, 240, 0.6);
  font-size: 16px;
  padding: 0;
}

.likesIcon {
  position: absolute;
  right: 80px;
  top: 15px;
  filter: invert(1);
  cursor: pointer;
}

.likesIcon:hover {
  filter: invert(89%) sepia(34%) saturate(3037%) hue-rotate(300deg)
    brightness(95%) contrast(93%);
}

.profilePic {
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}
