.header {
  background-color: burlywood;
  width: 100vw;
  height: 70px;
  display: flex;
}

.appLogo {
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 20px;
  cursor: pointer;
}

.appName {
  height: 50px;
  width: auto;
  max-width: 170px;
  position: absolute;
  top: 10px;
  left: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  cursor: pointer;
}

.appName > p {
  margin: 0;
  font-size: 0.9rem;
}

span {
  font-size: 1.2rem;
}

.registerBtn {
  border: 1px solid yellow;
  background-color: lightcyan;
  height: 30px;
  width: 100px;
  position: absolute;
  right: 140px;
  top: 20px;
  border-radius: 30px;
}

.loginBtn {
  border: 1px solid yellowgreen;
  background-color: lightgoldenrodyellow;
  height: 30px;
  width: 100px;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 30px;
}

.searchBar {
  position: absolute;
  height: 30px;
  width: 50vw;
  left: 260px;
  top: 20px;
  border-radius: 20px;
  text-indent: 15px;
  border: none;
  outline-color: rgba(255, 255, 255, 0.7);
}

.likesIcon {
  position: absolute;
  right: 80px;
  top: 15px;
  filter: invert(1);
  cursor: pointer;
}

.profilePic {
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}
