.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .backBtn {
    width: 150px;
    height: 10%;
    z-index: 100;
    margin-top: 56px;
    margin-right: 10px;
    align-self: flex-start;
    justify-content: space-evenly;
    /* position: absolute;
    top: 50px;
    left: 50px; */
    display: flex;
    color: white;
    cursor: pointer;
    /* position: fixed; */
  }
  
  .backBtn > img {
    width: 35px;
    height: 35px;
    filter: invert(1);
  }
  
  .backBtn > p {
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  .contentModal {
    background-color: whitesmoke;
    width: 75vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 25px 50px;
    /* position: fixed; */
  }
  
  .contentPhoto {
    /* background-color: aquamarine; */
    height: 100%;
    width: 45%;
    border-radius: 35px;
    margin: 20px;
  }
  
  .contentDetails {
    /* background-color: lightskyblue; */
    height: 100%;
    width: 55%;
  }
  
  .userInfo {
    /* background-color: beige; */
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
  }
  
  .userProfilePhoto {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  
  .userName {
    margin: 0;
    margin-left: 15px;
    font-size: 1.3rem;
  }
  
  p {
    margin: 0;
  }
  
  .contentInfo {
    /* background-color: lightcoral; */
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .drinkName {
    height: 20%;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
  }
  
  .shopName {
    height: 15%;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  
  .review {
    height: 45%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }
  
  .tags {
    height: 10%;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
  }
  
  .commentsContainer {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .commentsCount {
    font-weight: bold;
  }
  
  .comments {
    overflow-y: auto;
    font-size: 0.9rem;
  }
  
  .indivComment {
    margin: 3px 0;
  }
  
  .commentUser {
    font-weight: bold;
    font-size: 0.9rem;
    font-family: "Times New Roman", Times, serif;
  }
  
  .addComments {
    /* background-color: lightgreen; */
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .userCommentPic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
  }
  
  .newComment {
    width: 75%;
    height: 35px;
    border: none;
    border-radius: 20px;
    text-indent: 10px;
    margin-right: 30px;
    outline-color: rgba(222, 184, 135, 0.5);
    font-size: 0.9rem;
  }
  
  .heartIcon {
    width: 40px;
    height: 40px;
    right: 0;
  }