body {
  margin: 0;
  background-color: whitesmoke;
}

/* Masonry MUI Layout */

.contentBlock {
  background-color: blue;
  height: auto;
  position: relative;
  margin: 10px 8px !important;
  z-index: 1;
}

.content > img {
  width: 100%;
  border-radius: 20px;
}

.overlay {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  height: 100% !important ;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.src {
  position: absolute;
  top: 10px;
  left: 20px;
}

.heartImg {
  width: 50px;
  height: 50px;
  filter: invert(1);
}

.content {
  z-index: 20;
}

.contentHover {
  z-index: 10;
}

.overlayHover {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  height: 100% !important ;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

/* Masonry MUI Layout */