.backdrop1 {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: calc(100vh - 70px);
  z-index: 50;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.backBtn1 {
  width: 150px;
  height: 10%;
  z-index: 100;
  margin-top: 50px;
  margin-right: 10px;
  align-self: flex-start;
  justify-content: space-evenly;
  /* position: absolute;
  top: 50px;
  left: 50px; */
  display: flex;
  color: white;
  cursor: pointer;
}

.backBtn1 > img {
  width: 40px;
  height: 40px;
  filter: invert(1);
}

.backBtn1 > p {
  font-size: 1.4rem;
  font-weight: bold;
}

.contentModal1 {
  background-color: whitesmoke;
  width: 75vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 25px 50px;
}

.column1 {
  /* background-color: #a4907c; */
  /* display: flex; */
  float: left;
  width: 50%;
  height: 100%;
}

.form {
  /* background-color: blue; */
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  align-items: "center";
  width: 100%;
  height: 100%;
  border: 3px dashed rgb(117, 112, 112);
  border-radius: 20px;
  padding: 20px;
}

.uploadPhoto {
  /* background-color: aquamarine;  */
  position: relative;
  height: 30%;
  left: 35%;
  top: 34%;
  margin: auto;
}

.inputPhoto {
  display: none;
}

.displayPhoto {
  /* display:none; */
  height: 100%;
  width: 100%;
  border-radius: 20px;
  position: relative;
  margin: auto;
  /* top:5%;
  left:15%; */
  object-fit: cover;
}

.column2 {
  /* background-color: aqua; */
  display: flex;
  float: right;
  width: 50%;
  height: 100%;
}

.inputDetails {
  /* background-color: pink; */
  height: 80%;
  width: 80%;
  margin: auto;
}

.font {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 5px 0 10px 0;
  padding-left: 7px;
}

.inputBox {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(141, 123, 104, 1);
  background: none;
  margin: 0 0 5px 0;
  text-indent: 10px;
  outline-color: rgba(164, 144, 124, 1);
}

.textBox {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  border: 1px solid rgba(141, 123, 104, 1);
  background: none;
  text-indent: 10px;
  outline-color: rgba(164, 144, 124, 1);
}

.button {
  width: 103px;
  height: 32px;
  border-radius: 30px;
  border: none;
  color: whitesmoke;
  background: rgba(164, 144, 124, 1);
  position: relative;
  left: 74%;
  top: 5%;
}

.button:hover {
  background-color: rgba(141, 123, 104, 1);
}
