.font {
  color: #000;
  font-family: Merriweather Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 1%;
}

.inputBox {
  width: 80%;
  height: 2rem;
  border-radius: 15px;
  border: 1px solid rgba(51, 54, 63, 0.7);
  background: rgba(217, 217, 217, 0.5);
}

.textBox {
  width: 80%;
  height: 6rem;
  border-radius: 15px;
  border: 1px solid rgba(51, 54, 63, 0.7);
  background: rgba(217, 217, 217, 0.5);
}

.button {
  width: 103px;
  height: 32px;
  border-radius: 30px;
  background: #a4907c;
  position: relative;
  left: 60%;
}
